---
type Props = {
  title: string;
  url: string;
};

const { title, url } = Astro.props;

const encodedTitle = encodeURIComponent(title);
---

<section class="mt-4 flex flex-wrap justify-between content-center items-center space-x-2">
  <a
    href={`https://twitter.com/intent/tweet?original_referer=${url}&text=${encodedTitle}&url=${url}`}
    target="_blank"
    class="inline-flex items-center gap-x-1 px-2 py-1 text-xs leading-tight font-bold text-white bg-black rounded-md hover:bg-gray-700"
  >
    <span class="icon-[bi--twitter-x] inline-block"></span>
    ポスト
  </a>

  <a
    href={`https://misskey-hub.net/share/?text=${encodedTitle}&url=${url}&visibility=public&localOnly=0`}
    target="_blank"
    class="inline-flex items-center gap-x-1 px-2 py-1 text-xs leading-tight font-bold text-lime-100 bg-lime-700 rounded-md hover:bg-lime-600"
  >
    <span class="icon-[simple-icons--misskey] inline-block"></span>
    share to misskey
  </a>

  <a
    href={`https://donshare.net/share.html?text=${encodedTitle}&url=${url}`}
    target="_blank"
    class="inline-flex items-center gap-x-1 px-2 py-1 text-xs leading-tight font-bold text-white bg-blue-500 rounded-md hover:bg-blue-600"
  >
    <span class="icon-[simple-icons--mastodon] inline-block"></span>
    donshare
  </a>

  <div class="flex-auto"></div>
  <button
    class="px-2 py-1 text-sm leading-tight rounded-md border border-solid border-gray-700 hover:bg-muted"
    onclick="window.scrollTo(0, 0);">Scroll to top</button
  >
</section>
