---
import { PostData } from '@lib/post';
import { add as addDate, isAfter as isAfterDate } from 'date-fns';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import TagList from '../components/TagList.astro';
import Content from '../components/content/Content.astro';
import { SITE_TITLE } from '../consts';
import ShareButtons from '../components/ShareButtons.astro';

type Props = {
  post: PostData;
};

const { post } = Astro.props;
const { title, date, tags, updatedAt, canonicalUrl } = post.properties;

const isUpdated = updatedAt && isAfterDate(updatedAt, date);
const isOutdated = isUpdated && isAfterDate(new Date(), addDate(updatedAt, { years: 2 }));
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={`${title} | ${SITE_TITLE}`} description={''} image={`/og/${post.slug}.png`} />

    {canonicalUrl && <link rel="canonical" href={canonicalUrl} />}
  </head>

  <body>
    <Header class="container" />

    <main class="container py-4">
      <article>
        <header class="mb-4">
          <div class="leading-none">
            <span class="text-sm text-muted">
              <FormattedDate date={date} />
              {
                isUpdated && (
                  <span class="text-sm text-muted">
                    {'(Updated at: '}
                    <FormattedDate date={updatedAt} />
                    {')'}
                  </span>
                )
              }
            </span>
            <h1 class="text-2xl font-bold leading-tight mb-1">{title}</h1>
            <div class="py-1">
              <TagList tags={tags ?? []} />
            </div>
          </div>
        </header>

        {
          isOutdated && (
            <div class="mb-4 flash bg-yellow-100/30 border-yellow-500">This post is possibly out of date.</div>
          )
        }

        <div class="markdown-body mb-4">
          <Content nodes={post.content} />
          <ShareButtons url={Astro.url.toString()} title={`${title} | ${SITE_TITLE}`} />
        </div>
      </article>
    </main>

    <Footer class="container py-4" />

    <script async crossorigin="anonymous" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  </body>
</html>
